body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

.site-content {
    flex: 1;
}
.serch-button{
     width: 50%;
     margin-top: 10%;
     border: 2px solid $accent;
     margin-left: 20%;
}

.main-content {
    margin-top: -40px
}

.navbar {
    background: $alt-bg;
    border-bottom: 3px solid $accent;

    .navbar-nav .nav-link {
        color: $alt-color;
        padding: 1rem 0.5rem;

        &.active {
            color: $accent;
        }

        &:hover:not(.active) {
            color: rgba($alt-color, 0.75);
        }
    }
}

.card-content{
      margin-left: 10%;
}

.card-main {
    padding: 2.5rem 1.25rem;
    margin-bottom: 1rem;
    margin-top: 5rem;
    background-color: $alt-color;
}

.card-main-favorite{
    padding: 2.5rem 1.25rem;
    margin-bottom: 1rem;
    margin-top: 5rem;
    background-color: $alt-color;
    height: 80%;
}
.row {
    .skill-block {
        padding: 2.5rem 1.25rem;
        margin-bottom: 1rem;
        margin-top: 5rem;
        background-color: $alt-color;
        border: 2px solid $accent;
    }
}

.portfolio-preview {
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 4rem;

    img {
        border: 2px solid $body-color;
    }
}


.footer {
    position: relative;
    bottom: 1.25rem;
    color: $alt-color;
    border-top: 3px solid $accent;
    background-color: $alt-bg;

    p {
        padding-top: 1.25rem;
    }

    .social-icons {
        li {
            display: inline-block;
            list-style: none;

            a {
                padding: 0.75rem 1rem;
                text-align: center;
                transition: color 0.2s ease-in;

                &:hover {
                    color: $accent;
                }
            }
        }
    }
}

.add-favorite{
     background-color:$accent;
     color: azure;
}
.mat-card {
    color: $body-color;
    background-color: $alt-color;

    .mat-card-header-text {
        margin: 0rem 0.5rem;
    }
}

.filter-card {
    .mat-card-header-text {
        margin: 0rem;
    }
}
