
<div class="serch-button">
    <div class="row mx-5">
            <form class="example-form">
                <mat-form-field class="example-full-width">
                <input type="text" placeholder="City" aria-label="Country" matInput [formControl]="myControl" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let country of countryList" [value]="country.LocalizedName" (click)="getWeatherCountry(country)">
                        {{country.LocalizedName}} ,{{country.Country.LocalizedName}} ,{{country.AdministrativeArea.LocalizedName}}
                    </mat-option>
                </mat-autocomplete>
                </mat-form-field>
                <a class="fas fa-search fa-2x mx-4 my-3 d-none d-md-none d-lg-block float-right"></a>
            </form>
    </div>
</div>

<mat-card class="card-main" *ngIf="countryDetails">
    <div class="row">
     <div class="col-12 col-sm-6 col-md-9">
       <mat-card-header class="mx-5">
        <mat-card-title>
           <div class="col-12 col-sm-6 col-md-9">
              {{countryDetails.details.LocalizedName}} ,{{countryDetails.details.Country.LocalizedName}} ,{{countryDetails.details.AdministrativeArea.LocalizedName}}
          </div>
        </mat-card-title>
        <mat-card-subtitle>
              <h3>{{countryDetails.currentWeather[0].Temperature.Imperial.Value}} F</h3>
              <h5>{{countryDetails.currentWeather[0].WeatherText}}</h5>
        </mat-card-subtitle>
      </mat-card-header>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
          <button class="add-favorite" mat-raised-button (click)="AddFavorite()">Add to favorite</button>
      </div>
  </div>
  <mat-card-content class="card-content">
    <h2 style="margin-left: 30%;">Weekly Forecast</h2>
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
      <mat-card class="skill-block">
        <mat-card-header>
          <mat-card-title>{{countryDetails.foreCasts.DailyForecasts[0].Date | date}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <h6>Min: {{countryDetails.foreCasts.DailyForecasts[0].Temperature.Minimum.Value}} F</h6>
            <h6>Max: {{countryDetails.foreCasts.DailyForecasts[0].Temperature.Maximum.Value}} F</h6>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
      <mat-card class="skill-block">
        <mat-card-header>
          <mat-card-title>{{countryDetails.foreCasts.DailyForecasts[1].Date | date}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <h6>Min: {{countryDetails.foreCasts.DailyForecasts[1].Temperature.Minimum.Value}} F</h6>
          <h6>Max: {{countryDetails.foreCasts.DailyForecasts[1].Temperature.Maximum.Value}} F</h6>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
      <mat-card class="skill-block">
        <mat-card-header>
          <mat-card-title>{{countryDetails.foreCasts.DailyForecasts[2].Date | date}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <h6>Min: {{countryDetails.foreCasts.DailyForecasts[2].Temperature.Minimum.Value}} F</h6>
          <h6>Max: {{countryDetails.foreCasts.DailyForecasts[2].Temperature.Maximum.Value}} F</h6>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
        <mat-card class="skill-block">
          <mat-card-header>
            <mat-card-title>{{countryDetails.foreCasts.DailyForecasts[3].Date | date}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <h6>Min: {{countryDetails.foreCasts.DailyForecasts[3].Temperature.Minimum.Value}} F</h6>
            <h6>Max: {{countryDetails.foreCasts.DailyForecasts[3].Temperature.Maximum.Value}} F</h6>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-2">
        <mat-card class="skill-block">
          <mat-card-header>
            <mat-card-title>{{countryDetails.foreCasts.DailyForecasts[4].Date | date}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <h6>Min: {{countryDetails.foreCasts.DailyForecasts[4].Temperature.Minimum.Value}} F</h6>
            <h6>Max: {{countryDetails.foreCasts.DailyForecasts[4].Temperature.Maximum.Value}} F</h6>
          </mat-card-content>
        </mat-card>
      </div>
  </div>
</mat-card-content>
</mat-card>